div {
    box-sizing: border-box;
}
.row {
    border: 10px solid black;
    padding: 1em;
    margin: 0.5em;
    text-align: center; 
    display: grid;   
}
.element {
    border: 10px solid green;
	padding: 0.5em;
}
.image {
    border: 10px solid blue;
    padding: 0.5em;
    margin: 0.5em;
}
.text {
    border: 10px solid red;
    padding: 0.5em;
    margin: 0.5em;
}
@media all and (min-width: 768px) and (min-height: 380px)
{
    .row {
        
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 1024px) and (min-height: 460px)
{
    .row {
       
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1200px) and (min-height: 520px)
{
    .row {
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}